*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root{
    font-size: clamp(1rem, 1.2vmax, 3rem);
}
body {
    --accent-color: #2353FF;
    --light-shade: rgba(var(--text-color), 0.06);
    --text-color: 17, 17, 17;
    --text-color-light: 100, 100, 100;
    --foreground-color: 255, 255, 255;
    --background-color: #F6f6f6;
    --error-color: red;
    --green: #00843b;
    color: rgba(var(--text-color), 1);
    background: var(--background-color);
}
body[data-theme='dark']{
    --accent-color: #2353FF;
    --green: #13ff5a;
    --text-color: 240, 240, 240;
    --text-color-light: 170, 170, 170;
    --foreground-color: 20, 20, 20;
    --background-color: #0a0a0a;
    --error-color: rgb(255, 106, 106);
    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
    sm-input.outlined{
        --active-placeholder-color: rgba(var(--text-color), 1);
    }
}

.full-bleed{
    grid-column: 1/4 !important;
}
.h1{
    font-size: 2.5rem;
}
.h2{
    font-size: 2rem;
}
.h3{
    font-size: 1.4rem;
}
.h4{
    font-size: 1rem;
}
.h5{
    font-size: 0.8rem;
}

.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}

p {
    font-size: 0.8;
    max-width: 60ch;
    line-height: 1.5;
    color: rgba(var(--text-color), 0.8);
}

img{
    object-fit: cover;
}

a{
    color: inherit;
    text-decoration: none;
    &:focus-visible{
        box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 1) inset;
    }
}

button{
    position: relative;
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    background: none;
    cursor: pointer;
    outline: none;
    color: inherit;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 0.2rem;
    padding: 0.5rem 0.6rem;
    -webkit-tap-highlight-color: transparent;
    border: none;
}
.button--primary{
    background: var(--accent-color);
    color: white;
    .icon{
        fill: rgba(var(--foreground-color), 1);
    }
}
button:focus-visible{
    outline: rgba(var(--text-color), 1) 0.1rem solid;
}
a:any-link{
    position: relative;
    display: inline-flex;
    align-items: center;
    background: none;
    cursor: pointer;
    outline: none;
    color: inherit;
    font-weight: 500;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    padding: 0.4rem 0.6rem;
    align-self: flex-start;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    border: 1px solid rgba(var(--text-color), 0.8);
}
a:any-link:focus-visible{
    outline: rgba(var(--text-color), 1) 0.1rem solid;
}


sm-input,
sm-textarea{
    --border-radius: 0.2rem;
    --background: rgba(var(--text-color), 0.06);
}
sm-button{
    --border-radius: 0.2rem;
}
sm-tab-header{
    align-self: flex-start;
    --active-tab-color: white;
    margin-bottom: 1rem;
    justify-self: flex-start;
    padding: 0.3rem;
    border-radius: 0.5rem;
    background-color: rgba(var(--text-color), 0.06);
}
ul{
    list-style: none;
}
.accent-color{
    color: var(--accent-color);
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.grid-3{
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}
.flow-column{
    grid-auto-flow: column;
}
.gap-0-5{
    gap: 0.5rem;
}
.gap-1{
    gap: 1rem;
}
.gap-1-5{
    gap: 1.5rem;
}
.gap-2{
    gap: 2rem;
}
.gap-3{
    gap: 3rem;
}
.pos-relative{
    position: relative;
}
.text-align-right{
    text-align: right;
}
.align-start{
    align-items: flex-start;
}
.align-center{
    align-items: center;
}
.align-end{
    align-content: flex-end;
}
.text-center{
    text-align: center;
}
.justify-start{
    justify-content: start;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: end;
}
.justify-right{
    margin-left: auto;
}
.align-self-center{
    align-self: center;
}
.justify-self-center{
    justify-self: center;
}
.justify-self-start{
    justify-self: start;
}
.justify-self-end{
    justify-self: end;
}
.direction-column{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.w-100{
    width: 100%;
}
.margin-top-1-5{
    margin-top: 1.5rem;
}
.margin-bottom-0-5r{
    margin-bottom: 0.5rem;
}
.margin-bottom-1r{
    margin-bottom: 1rem;
}
.margin-bottom-1-5r{
    margin-bottom: 1.5rem;
}
.margin-bottom-2r{
    margin-bottom: 2rem;
}
.margin-bottom-3r{
    margin-bottom: 3rem;
}
.margin-bottom-4r{
    margin-bottom: 4rem;
}
.margin-left-0-5{
    margin-left: 0.5rem;
}
.margin-right-0-5{
    margin-right: 0.5rem;
}
.color-0-9{
    color: rgba(var(--text-color), 0.9);
}
.color-0-8{
    color: rgba(var(--text-color), 0.8);
}
.color-0-7{
    color: rgba(var(--text-color), 0.7);
}

.weight-400{
    font-weight: 400;
}
.weight-500{
    font-weight: 500;
}
.weight-700{
    font-weight: 700;
}
.weight-900{
    font-weight: 900;
}
.hide{
    opacity: 0;
    pointer-events: none;
}
.hide-completely{
    display: none !important;
}
.no-transformations{
    transform: none !important;
}
.overflow-ellipsis{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.breakable{
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.ripple{
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    background: rgba(var(--text-color), 0.16);
    pointer-events: none;
}
.interact{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.observe-empty-state:empty{
    display: none;
}
.observe-empty-state:not(:empty) ~ .empty-state{
    display: none;
}
.icon{
    width: 1.5rem;
    height: 1.5rem;
    fill: rgba(var(--text-color), 0.9);
}

#main_header{
    position: relative;
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    align-items: center;
    background-color: var(--accent-color);
    color: white;
}
#main_header__logo{
    fill: white;
    height: 2.4rem;
    width: 2.4rem;
    margin-left: -0.3rem;
}
.header__company-name{
    font-weight: 500;
}
.header__app-name{
    font-weight: 700;
    font-size: 1.2rem;
}
#current_price{
    justify-self: flex-start;
}
#usd-rate{
    display: flex;
    align-items: center;
    &::before{
        content: '';
        width: 1px;
        height: 2rem;
        background-color: white;
        margin-right: 1rem;
    }
}

sm-select{
    min-width: 6rem;
    --selection-font-size: 0.9rem;
}
sm-option{
    --color: rgba(var(--text-color), 1);
}

.dropdown{
    display: flex;
    justify-content: flex-end;
    z-index: 5;
}
.dropdown__panel{
    position: absolute;
    display: grid;
    left: 0;
    right: 0;
    top: 100%;
    margin: 0 1rem;
    margin-top: 0.5rem;
    border-radius: 0.3rem;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    color: rgba(var(--text-color), 1);
    width: min(24rem, calc(100vw - 2rem));
    background-color: rgba(var(--foreground-color), 1);
    box-shadow: 0 2rem 2rem -0.5rem rgba($color: #000000, $alpha: 0.16);
    li{
        padding: 1rem;
    }
}

#profile_button{
    align-items: center;
    justify-content: center;
    border: none;
    height: 2.2rem;
    width: 2.2rem;
    justify-self: flex-end;
    border-radius: 50%;
    background-color: rgba($color: #000000, $alpha: 0.16);
    .icon{
        height: 1rem;
        width: 1rem;
        fill: white;
    }
}

#theme_switcher{
    overflow: hidden;
    width: 100%;
}

.page-layout{
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    & > *{
        grid-column: 2/3;
    }
}

#home_page{
    padding-bottom: 6rem;
}

#homepage__hero-section{
    color: white;
    padding: 2rem 0 12rem 0;
    margin-bottom: -8rem;
    background-image: url(../assets/bg-1.svg);
    background-color: var(--accent-color);
    background-size: cover;
    p{
        color: rgba($color: #fff, $alpha: 0.8);
    }
}

.fund-list__header{
    color: white;
    align-items: center;
    gap: 1rem;
}

#search_investor{
    --font-weight: 500;
    --padding: 0.5rem 1rem;
    --background: rgba(var(--foreground-color), 1);
    color: rgba(var(--text-color), 1);
    grid-area: search;
    width: min(24rem ,100%);
    justify-self: flex-end;
    .icon{
        height: 1.2rem;
        width: 1.2rem;
        margin-left: -0.5rem;
    }
}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    color: rgba(var(--text-color), 0.8);
}
.value{
    font-weight: 500;
    font-size: 1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

#fund_list{
    display: grid;
    gap: 1.5rem;
}

#fund_list__empty-state{
    padding: 4rem 0;
    margin-top: -5rem;
    border-radius: 0.3rem;
    place-content: center;
    margin-bottom: 3rem;
    background-color: rgba(var(--foreground-color), 1);
    box-shadow: 0 1rem 2rem -1rem rgba($color: #000000, $alpha: 0.16);
    .icon--big{
        height: 6rem;
        width: 6rem;
        justify-self: center;
    }
}
.fund-block{
    border-radius: 0.3rem;
    padding: 1rem;
    background-color: rgba(var(--foreground-color), 1);
    box-shadow: 0 1rem 2rem -1rem rgba($color: #000000, $alpha: 0.16);
}

.investor-group{
    display: grid;
    padding: 0.5rem;
    margin-top: 1.8rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 0 1px rgba(var(--text-color), 0.3);
    header{
        margin-top: -1.5rem;
        margin-bottom: 0.5rem;
        & > * {
            background-color: rgba(var(--foreground-color), 1);
        }
        h4{
            padding: 0 0.5rem;    
            margin-left: -0.5rem;
        }
    }
}

.investors-group-list{
    display: grid;  
}
.investor-group__list{
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(0, 1fr);  
}
.fund-block__details{
    & > .grid:nth-of-type(1),
    & > .grid:nth-of-type(2){
        grid-template-columns: 1fr 1fr;
    }
}
.flex-grid{
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
}


form{
    padding: 1rem;
    border-radius: 0.3rem;
    width: min(32rem, 100%);
    margin-bottom: 3rem;
    background: rgba(var(--foreground-color), 1);
    input{
        display: inline-flex;
        color: inherit;
        font-family: inherit;
        padding: 0.6rem;
        border: none;
        box-shadow: 0 0 0 1px rgba(var(--text-color), 0.3);
        background-color: rgba(var(--text-color), 0.06);
        flex: 1;
    }
    select option{
        color: inherit;
        background-color: rgba(var(--text-color), 0.1);
    }
}

.investor-input{
    gap: 0.5rem;
}
.remove-investor{
    grid-area: close;
}

#term_details{
    line-height: 1.7;
}

.flex-grid{
    display: grid;
    gap: 1rem;
    justify-content: start;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
}
.fund-placeholder{
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: rgba(var(--foreground-color), 1);
    box-shadow: 0 1rem 2rem -1rem rgba($color: #000000, $alpha: 0.16);
    .placeholder__block:first-of-type{
        width: min(24rem, 100%);
    }
    &:nth-of-type(2) .placeholder__block{
        animation-delay: 0.3s;
    }
    &:nth-of-type(3) .placeholder__block{
        animation-delay: 0.6s;
    }
    &:nth-of-type(4) .placeholder__block{
        animation-delay: 0.8s;
    }
}
.placeholder__block{
    display: flex;
    border-radius: 0.3rem;
    min-width: 9rem;
    padding: 1.2rem 1rem;
    animation: pulse alternate 0.6s ease infinite;
    background-color: rgba(var(--text-color), 0.1);
}

@keyframes pulse{
    from{
        opacity: 0.4;
    }
    to{
        opacity: 1;
    }
}


@media only screen and (max-width: 640px) {
    .h1{
        font-size: 2rem;
    }
    .h2{
        font-size: 1.8rem;
    }
    .h3{
        font-size: 1.3rem;
    }
    .h4{
        font-size: 1rem;
    }
    .h5{
        font-size: 0.8rem;
    }
    #main_header{
        grid-template-areas: '. profile-button';
        .dropdown{
            grid-area: profile-button;
        }
    }
    #homepage__hero-section{
        padding: 2rem 0 20rem 0;
        margin-bottom: -16rem;
    }
    .fund-list__header{
        grid-template-columns: auto 1fr;
        grid-template-areas: '. .' 'search search';
    }
    .investor-input{
        grid-template-columns: 1fr auto;
        grid-template-areas: '. close' '. close';
    }
}


@media only screen and (min-width: 640px) {
    #main_header{
        padding: 2rem calc((10vw / 2) - 0.4rem);
        grid-template-columns: auto 1fr auto;
        &::after{
            height: 5rem;
        }
    }
    .page-layout{
        grid-template-columns: 1fr 90vw 1fr;
    }
    #current_price{
        justify-self: flex-end;
    }
    .dropdown__panel{
        left: auto;
    }
    .fund-list__header{
        grid-template-columns: auto 1fr auto;
        grid-template-areas: '. search .';
    }
    .fund-block__details{
        grid-template-columns: 1fr 1fr;
    }
    .investor-group{
        padding: 0.5rem 1rem;
    }
    .investor-input{
        grid-template-columns: 1.5fr 1fr auto;
        grid-template-areas: '. . close';
    }
}
@media only screen and (min-width: 1280px) {
    .page-layout{
        grid-template-columns: 1fr 90vw 1fr;
    }
    .multi-form{
        grid-template-columns: 1fr 1fr;
    }
}
@media (any-hover: hover){
    ::-webkit-scrollbar{
        width: 0.5rem;
        height: 0.5rem;
    }
    
    ::-webkit-scrollbar-thumb{
        background: rgba(var(--text-color), 0.3);
        border-radius: 1rem;
        &:hover{
            background: rgba(var(--text-color), 0.5);
        }
    }
}